

body {
    font-family: Arial, sans-serif;
    background-image: url(https://images4.alphacoders.com/178/thumb-1920-178798.jpg);
     /* background-image: url(https://wallpapershome.com/images/pages/pic_h/19257.jpg);Change this to your desired background color */
    margin: 0;
    padding: 0;
  }
 

  .container5 {
   
    position: absolute;
    left: 500px;
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    /* border: 1px solid #ccc; */

  }

  h2 {
    color: white;
    /* color:black; */
    font-size: 35px;
    text-align: center;
  }

  label {
    color: white;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  /* ========================================CSSS FOR INPUT TYPE ====================================== */
  input[type="email"],
  input[type="password"],
  button {
    width: calc(100% - 22px);
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  input[type="checkbox"] {
    margin-right: 5px;
  }

  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  .small {
    font-size: 20px;
  }

  .small a {
  padding-top: 50px;
    font-size: medium;
    color: rgb(227, 13, 13);
    text-decoration: none;
  
  }

 